body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  color: #228B22;
}

button {
  background-color: #FFD700;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #FFC107;
}

#result {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

.meal-deal {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#Main, #Snack, #Drink {
  opacity: 1; /* Make the elements visible */
  transition: opacity 1s ease-in-out;
  flex: 1;
}

img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
}
#info {
  width: 50%;
  margin: auto;

}


@media (max-width: 600px) {
  .meal-deal {
      flex-direction: column;

  }
  #info {
    flex-direction: column;

}
}
